option_settings:
  aws:elasticbeanstalk:application:environment:
    MONGODB_URI: 'your-mongodb-connection-string'
    EMAIL_HOST: 'smtp.gmail.com'
    EMAIL_PORT: '587'
    EMAIL_USER: 'your-email@gmail.com'
    EMAIL_PASS: 'your-app-password'
    CLOUDINARY_CLOUD_NAME: 'your-cloudinary-cloud-name'
    CLOUDINARY_API_KEY: 'your-cloudinary-api-key'
    CLOUDINARY_API_SECRET: 'your-cloudinary-api-secret'
